.carousel
  height 500px

.carousel-cell
  margin-right 20px
  overflow hidden

  img
    display block

.flickity-enabled
  position relative

  &:focus
    outline none

    &.is-draggable
      tap-highlight-color transparent
      user-select none

      .flickity-viewport
        cursor move
        cursor -webkit-grab
        cursor grab

        &.is-pointer-down
          cursor -webkit-grabbing
          cursor grabbing

.flickity-viewport
  position relative
  height 100%
  overflow hidden

.flickity-slider
  position absolute
  size(100%,100%)

.flickity-prev-next-button
  position absolute
  top 50%
  size(70px, 70px)
  border 2px solid $green
  border-radius 50%
  background hsla(0, 0%, 100%, 0)
  cursor pointer
  transform translateY(-50%)
  transition .3s

  &:hover
    background rgba(255,255,255,.4)

  &:focus
    outline none
    box-shadow 0 0 0 5px #09F

  &:active
    opacity 0.6

  &.previous
    left 10px

  &.next
    right 10px

  &:disabled
    opacity 0.3
    cursor auto

  svg
    position absolute
    left 20%
    top 20%
    width 60%
    height 60%

  .arrow
    fill $green

.flickity-rtl
  .flickity-prev-next-button
    &.previous
      left auto
      right 10px

    &.next
      right auto
      left 10px

  .flickity-page-dots
    direction rtl

.flickity-page-dots
  position absolute
  width 100%
  bottom 25px
  padding 0
  margin 0
  list-style none
  text-align center
  line-height 1

  .dot
    display inline-block
    width 15px
    height 15px
    margin 0 8px
    border-radius 50%
    opacity 0.8
    cursor pointer
    border 2px solid white

    &.is-selected
      opacity 1
      background-color $white



@media screen and (min-width 1024px)
  .carousel
    height 600px

  .carousel-cell
    img
      height 600px


@media screen and (min-width 768px) and (max-width 1024px)
  .carousel
    height 500px

  .carousel-cell
    img
      height 500px


@media screen and (min-width 425px) and (max-width 768px )
  .carousel
    height 300px

  .carousel-cell
    img
      height 300px

  .flickity-prev-next-button
    size(44px, 44px)

  .flickity-page-dots
    bottom 10px


@media screen and (max-width 425px)
  .carousel
    height 200px

  .carousel-cell
    img
      height 200px

  .flickity-prev-next-button
    size(44px, 44px)

  .flickity-page-dots
    bottom 10px