footer
    font-family 'Montserrat'
    width 100%
    background-color $footer-bg

.footer-inner
    padding 20px
    display flex
    flex-direction row
    justify-content space-between
    align-items center

.footer-links
    width 320px
    column-count 2

    a
        display inline-block
        padding 5px 25px
        width 150px
        font-size 14px
        color $footer-link-color
        background-position -22px -301px

        &:hover
            background-color $footer-link-bg-hover

.footer-copyright
    padding 15px 0
    font-size 12px
    text-align center
    color $footer-copyright

.footer-form-label
    font-size 16px
    color $footer-form-label

.footer-form-input
    display flex
    flex-direction row
    align-items center
    padding 7px 0
    border-bottom 2px solid $footer-form-mail

.footer-form-mail
.footer-form-btn
    border 0

.footer-form-mail
    margin-right 50px
    padding 0px 25px
    font-size 14px
    color $footer-form-mail
    background-color transparent
    background-position -25px -173px

.footer-form-btn
    size(40px)
    border-radius 100%
    background-color $footer-form-btn-bg
    background-position -17px -91px
    cursor pointer
    transition 0.3s

    &:hover
        background-color $footer-form-btn-bg-hover