.menu
    font-family 'Montserrat'
    font-size 14px
    font-weight 600

    ul
        display flex

        li
            padding 2px

            a
                display inline-block
                padding 6px 20px
                color $menu-color

                &:hover
                    background-color $menu-bg-hover
                    color $menu-color-hover