.br-theme-fontawesome-stars-o
    .br-widget
        height 28px
        white-space nowrap

        a
            font normal normal normal 20px/1 FontAwesome
            text-rendering auto
            text-decoration none
            margin-right 2px

            &:after
                content '\f006'
                color #d2d2d2

            &.br-active
                &:after
                    content '\f005'
                    color $school-bus-yellow

            &.br-selected
                &:after
                    content '\f005'
                    color $school-bus-yellow

            &.br-fractional
                &:after
                    content '\f123'
                    color $school-bus-yellow

        .br-current-rating
            display none

    .br-readonly
        a
            cursor default

    .br-reverse
        a
            &.br-fractional
                display inline-block
                transform scaleX(-1)
                filter FlipH

@media print
    .br-theme-fontawesome-stars-o
        .br-widget
            a
                &:after
                    content '\f006'
                    color black

                &.br-fractional
                    &:after
                        content '\f123'
                        color black

    .br-theme-fontawesome-stars-o .br-widget a.br-active:after,
    .br-theme-fontawesome-stars-o .br-widget a.br-selected:after
         content '\f005'
         color black