.wrapper.section
    .about
        p.chapter.about-chapter= content.about.chapter

        .about-info
            h2.about-title= content.about.title
            p.about-title= 'x'
            p.about-text= content.about.text

        //.about-video
            video#bgvid( autoplay, loop)
                source(src='static/video/surf.mp4', type='video/mp4')