.wrapper
    .inner
        .navigation-wrapper
            .navigation
                .logo
                    a(href= nav.logo.link)= nav.logo.title

                include ../components/menu

                .social
                    +socialItem(nav.social.facebook.link)(class= "social-facebook")
                    +socialItem(nav.social.instagram.link)(class= "social-instagram")
                    +socialItem(nav.social.mail.link)(class= "social-envelope")

