.wrapper.section
    .inner
        .social
            .social-insta

            .social-fb#fb-root
                .fb-page(data-href='https://www.facebook.com/surfer', data-width='340', data-hide-cover='false', data-show-facepile='true')
