.wrapper.section.team
    .inner
        p.chapter.team-chapter= content.team.chapter
        .team-card-list.carousel(data-flickity='{ "groupCells": true, "pageDots": false }')
            .carousel-cell
                +teamCard(content.teamCard1.imgSrc, content.teamCard1.imgAlt, content.teamCard1.name, content.teamCard1.instagram, content.teamCard1.location)
            .carousel-cell
                +teamCard(content.teamCard2.imgSrc, content.teamCard2.imgAlt, content.teamCard2.name, content.teamCard2.instagram, content.teamCard2.location)
            .carousel-cell
                +teamCard(content.teamCard3.imgSrc, content.teamCard3.imgAlt, content.teamCard3.name, content.teamCard3.instagram, content.teamCard3.location)
            .carousel-cell
                +teamCard(content.teamCard4.imgSrc, content.teamCard4.imgAlt, content.teamCard4.name, content.teamCard4.instagram, content.teamCard4.location)
            .carousel-cell
                +teamCard(content.teamCard1.imgSrc, content.teamCard1.imgAlt, content.teamCard1.name, content.teamCard1.instagram, content.teamCard1.location)
            .carousel-cell
                +teamCard(content.teamCard2.imgSrc, content.teamCard2.imgAlt, content.teamCard2.name, content.teamCard2.instagram, content.teamCard2.location)
            .carousel-cell
                +teamCard(content.teamCard3.imgSrc, content.teamCard3.imgAlt, content.teamCard3.name, content.teamCard3.instagram, content.teamCard3.location)
            .carousel-cell
                +teamCard(content.teamCard4.imgSrc, content.teamCard4.imgAlt, content.teamCard4.name, content.teamCard4.instagram, content.teamCard4.location)




