.about
    position relative
    size(100%, 100vh)
    background url('../../static/img/content/about.png') no-repeat
    background-size cover
    color $text-about

.about-chapter
    position absolute
    width 100%
    text-align center
    font-family 'Montserrat'
    font-size 196px
    line-height 150px
    font-weight bold
    color $about-chapter
    background $white

.about-title
    font-size 18px
    font-family 'Montserrat'
    text-align center
    padding-bottom 15px
    font-weight 500

.about-text
    font-family 'Playfair Display'
    font-size 22px
    line-height 38px
    font-style italic

.about-info
    background linear-gradient(-60deg, #00b0ff 30%, #ffffff 30%)
    box-sizing content-box
    position absolute
    bottom 0
    width 370px
    padding 50px 50px 50px 150px
    background-color $white

.about-video
    position relative
    width 100px

video
    position absolute
    top 70vh
    left 40vw
    min-width 100%
    min-height 100%
    width 300px

