.header-bg
    background linear-gradient( rgba(0,0,0,0) 60%, white), url(../../static/img/general/header-3.jpeg) no-repeat
    background-size cover

.slogan-group
    font-family 'Playfair Display'
    font-style italic
    text-align center

.slogan-title
    font-size 50px
    color $slogan-title

.slogan-sub-title
    font-size 24px
    color $slogan-sub-title
