.social-footer
    display flex
    flex-direction row
    justify-content space-around
    align-items flex-start
    padding 150px 0 50px
    background linear-gradient(350deg, #00b0ff 60%, #ffffff 60%)