.surfboards
    position relative
    background linear-gradient(60deg, #00b0ff 30%, #ffffff 30%)
    font-family 'Montserrat'

.surfboard-list
    margin 35px

.surfboard-item
    size(100%, 70vh)
    padding 20px 0
    counter-increment carousel-cell

    &:before
        position(absolute, 89px, 2px, , )
        display block
        size(35px)
        content counter(carousel-cell)
        text-align center
        line-height 35px
        font-size 14px
        color white
        font-weight 500
        background-color $black

.surfboard-btn
    size(35px)
    border 0px

    &:hover
        cursor pointer

.surfboard-btn-group
    position(absolute, 50px, -2px, , )
    z-index 120

.surfboard-btn--previous
    background $btn-surfboard-item url(../../static/img/general/arrow-left.png) no-repeat 5px

.surfboard-btn--next
    background $btn-surfboard-item url(../../static/img/general/arrow-right.png) no-repeat 5px

.surfboard-btn--next
.surfboard-btn--previous
    transition .2s

.surfboard-btn--previous
.surfboard-btn--next
    &:hover
        background-color $deep-sky-blue

.surfboard-title
    font-size 20px
    font-weight 700

.radio-wrapper
    margin 10px auto

.surfboard-item
    display flex
    flex-direction row
    justify-content space-around

.surfboard-item-left
.surfboard-item-right
    width 400px

.surfboard-price
    gont-size 24px
    font-weight bold
    color $black

.surfboard-btn-buy
    padding 14px 25px
    font-size 14px
    font-weight bold
    background-color $deep-sky-blue
    color $white
    transition 0.3s

    &:hover
        background-color $school-bus-yellow
        color $black

.price-btn-group
    width 400px
    bottom 10px
    position absolute
    display flex
    justify-content space-between
    align-items center
    margin-top 40px