extends ../layout/main

block variables
	- var title = 'Serfers'

block content
	include ../modules/surfboards
	include ../modules/about
	include ../modules/team
	include ../modules/blog
	include ../modules/social
