@media (max-width 1130px)
   .social
      display none


@media (max-width 890px)
    .logo
        font-size 24px


@media (max-width 850px)
    .logo
        display none

    .navigation
        justify-content flex-start


    .menu
        ul
            justify-content flex-start

            li
                width 42px
                transform rotate(50deg)

                a
                    border-left 2px solid $deep-sky-blue

