  // color
$white                   = #ffffff
$black                   = #000000
$deep-sky-blue           = #00b0ff

$logo                    = $black
$logo-hover              = $deep-sky-blue

$menu-color              = $black
$menu-color-hover        = $white

$menu-bg-hover           = $deep-sky-blue

$social-item-bg          = $white
$social-item-bg-hover    = $deep-sky-blue
  // size

// fonts

// Fonts:
