  // color
$white                   = #ffffff
$black                   = #000000
$deep-sky-blue           = #00b0ff
$yellow                  = #ffff00
$school-bus-yellow       = #f2d800

$logo                    = $black
$logo-hover              = $deep-sky-blue

$menu-color              = $black
$menu-color-hover        = $white

$menu-bg-hover           = $deep-sky-blue

$social-item-bg          = $white
$social-item-bg-hover    = $deep-sky-blue

$slogan-title            = $black
$slogan-sub-title        = $white

$btn-carousel            = $yellow


$btn-surfboard-item      = $school-bus-yellow

  // size

// fonts

// Fonts:
