  // color
$white                   = #ffffff
$black                   = #000000
$white-smoke             = #f7f7f7
$deep-sky-blue           = #00b0ff
$blue                    = #0022ff
$yellow                  = #ffff00
$school-bus-yellow       = #f2d800
$grey                    = #787878
$suva-grey               = #8c8c8c
$matterhorn              = #4d4d4d

$logo                    = $black
$logo-hover              = $deep-sky-blue

$menu-color              = $black
$menu-color-hover        = $white

$menu-bg-hover           = $deep-sky-blue

$social-item-bg          = $white
$social-item-bg-hover    = $deep-sky-blue

$slogan-title            = $black
$slogan-sub-title        = $white

$btn-carousel            = $school-bus-yellow

$btn-surfboard-item      = $school-bus-yellow

$tabs-text               = $grey
$tabs-title-hover        = $black

$chapter                 = $white-smoke
$about-text              = $black

$team-name               = $deep-sky-blue
$team-text               = $suva-grey
$team-bg-hover           = $deep-sky-blue
$team-text-hover         = $white

$team-card-bg            = $white-smoke

$blog-text               = $grey
$blog-text-hover         = $blue

$footer-bg               = $black
$footer-link-color       = $white
$footer-link-bg-hover    = $deep-sky-blue
$footer-copyright        = $matterhorn

$footer-form-label       = $white
$footer-form-mail        = $matterhorn
$footer-form-btn-bg      = $deep-sky-blue
$footer-form-btn-bg-hover= $school-bus-yellow
  // size

// fonts

// Fonts:
