mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/static/img/svg/symbol/sprite.svg#" + name)


mixin socialItem(link)
	.social-item
		a(href= link)
			.social-img(class!=attributes.class)



mixin carouselItem(imgAlt, imgSrc)
	.carousel-cell
		img(src= imgSrc, alt= imgAlt).carousel-img

mixin starRating()
	select(id!=attributes.id)
		option(value='1') 1
		option(value='2') 2
		option(value='3') 3
		option(value='4') 4
		option(value='5') 5

mixin teamCard(imgSrc, imgAlt, name, instagram, location)
	.team-card
		img(src= imgSrc, alt= imgAlt).team-photo
		h4.team-name= name
		p.team-instagram= instagram
		.sprite.separator
		p.sprite.team-location= location


mixin blogItem(imgSrc, imgAlt, text)
	.blog-item(class!=attributes.class)
		img(src= imgSrc, alt= imgAlt).blog-img
		p.blog-text= text